.plain {
    .ant-form-item-control-wrapper {
        width: 80%;
    }
}


.ant-form-item{
    display: flex;
}

.quarters{
    width: 450px;

}

.ant-checkbox-wrapper{
    height: 45px;
    // margin-left: 12px;
}