.plain {
    .ant-form-item-control-wrapper {
        width: 80%;
    }
}


.ant-form-item{
    display: flex;
}
.configurationProperties{
    height: auto!important;
}
.PropertiesBox{
    width: 100%;
    height: auto;
    // border: 1px solid #ccc;
    padding: 10px 20px,
}
.plain{
    width: 450px;
    height: auto;
    overflow-y: scroll;
    margin-top: 15px!important;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.ant-form-item{
    margin-top: 5px;
    vertical-align: auto;
    line-height: normal;
}

.quarters{
    width: 100%;

}

.ant-checkbox-wrapper{
    height: 45px;
    // margin-left: 12px;
}
.authorization{
    height: 150px!important;
}
.Accesspoint{
    height: 150px!important;
} 

.quartersBox{
    align-items: center;
    width: 100%!important;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
