.flex{
    display: flex;
    align-items: center;
}

#assetsForm{
    .ant-form-item{
        margin-right: 16px !important;
        .ant-form-item-label{
            width: 87px;
            text-align: center;
        }
        .ant-calendar-picker{
            min-width: 200px !important;
        }
    }
}
#assetsBoxFrom{
    .ant-row.ant-form-item{
        width: 100%;
        display: flex;
        margin-bottom: 0 !important;
        .ant-form-item-control-wrapper{
            flex: auto;
            width: 10px;
        }
    }
    .ant-form-explain{
       position: absolute;
    }
    .ant-form-item-label{
        width: 100px;
        text-align: center;
    }
    .ant-calendar-picker{
        width: 100% !important;
        min-width: auto !important;
    }
}
#assetsBoxFrom.AllocationForm{
    .ant-form-item-label{
        width: 100px;
    }
}
.assetsTree{
    .TreeContent{
        .ant-col-12{
             width: 100%;
        }
    }
}
#resourceTree{
    .ant-form-item > .ant-form-item-label{
        width: 75px;
        text-align: center;
    }
    .ant-form-item-control-wrapper{
        flex: auto;
    }
}
.plusParent{
    .ant-select{
        width: 90%;
        margin-right: 5px;
    }
    >.anticon{
        font-size: 18px;
    }
}
.seeModal{
    .ant-btn-primary{
        display: none;
    }
}