.ant-modal {
    width: 1600px !important;
}

.ant-modal-content {
    width: 1200px !important;
    zoom: 1;
    overflow-y: auto;
    margin: 0 auto;
}

td span {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    cursor: pointer;
}



.ant-table-row td {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    cursor: pointer;
}

.ant-table-row td span {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    cursor: pointer;
}