.loginWrapper{
	width: 100%;
	height: 100%;
	/* background: #dfdfdf; */
	// background-image:~"url('./static/images/backimg.jpg')";
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat; 
	width: 100vw;
	height: 100vh;
	.login-mask{
	height:100%;
    width:100%;
    background: rgba(0,0,0,.1);
    display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.loginContent{
		width: 300px;
		height: 380px;
		background: #fff;
		opacity: 0.9;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		padding: 25px;
		margin-right: 15vw;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
		img{
			display: inline-block;
			width: 55px;
			height: 55px;
			margin-left: 40px;
		}
		.logintitle{
			margin-top: 5px;
			padding: 0 0 25px 10px;
			font-weight: bold;
			font-size: 26px;
			color: #353535;
			position: absolute;
		}
		button{
			background-color: #5489e7;
			font-size: 16px;
		}
		.code-input {
			// width: 60%;
			margin-right: 10px;
		}
		.identify_box {
			font-size: 22px;
			color: rgb(85, 85, 85);
			height: 30px;
			width: 80px;
			line-height: 30px;
			cursor: pointer;
		}
	}
}