.my_height{
    height: 100%;
    // background: rgb(32, 100, 202);
    
}
.oragizTree .TreeContent{
    height: 100%;
    padding: 10px;
     .ant-spin-nested-loading{
         height: 100%;
        .ant-spin-container{
            position: relative;
            height: 100%;
            .ant-tree{
                width: 100%;
                 position: absolute;
                 top: 45px;
                 bottom: 0px;
                 overflow-y: auto;
            }
        }
     }
}