.editPasswordWrapper {
    /* background-image: url('/static/images/resetPsdBg.png'); */
    /* background-position: center center; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
	align-items: center;
	justify-content: center;
}
.editPasswordWrapper .editContent {
    /* width: 490px; */
    width: 500px;
    height: 495px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.editContent .title {
    margin-left: 30%;
    margin-bottom: 30px;
}
.title .logintitle{
    margin-top: 5px;
    padding: 0 0 25px 10px;
    font-weight: bold;
    font-size: 26px;
    color: #353535;
    position: absolute;
}
.title img {
    display: inline-block;
    width: 55px;
	height: 55px;
}
.login-form-button{
    background-color: #5489e7;
    width: 45%;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
}
.code-input {
    margin-right: 10px;
}
.identify_box {
    color: rgb(85, 85, 85);
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.ant-form-explain {
    margin-top: 2px;
}

/* 首次登陆重置密码--样式 */
.explain {
    display: block;
    height: 22px;
    clear: both;
    min-height: 22px;
    margin-top: -2px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5;
}
.changePass {
    position: relative;
    height: 395px !important;
}
.change-button {
    background-color: #5489e7;
    position: absolute;
    width: 63%;
    bottom: 30px;
    left: 21%;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
}