/*服务计划表管理*/

*{
    margin: 0;
    padding: 0;
    list-style: none; 
}
html,body{
    width: 100%;
    height: 100%;  
}

/* 控制按钮图片 */
.schedule_price{
    position: absolute;
    top:72px;
    right:0;
    float: right; 
    
}
.ArrowsAltOutlined{
    font-size: 26px;
    position: relative;
    top:6px;
    left:66px;
 
}
.newchange{
    margin-right: 10px;
   float: right;
}

/* 表格 */
.ant-table-thead tr th{
    text-align: center;
}

.ant-input{
    border: 0;
}
.ant-select-selection{
    border: 0;
}







