.ServiesContent {
    padding: 14px 20px;
    .ant-descriptions {
        .ant-descriptions-view {
            .ant-descriptions-row{
                .ant-descriptions-item-label {
                    text-align: center !important;
                }
            }
        }
    }
    .commTop {
        margin-top: 15px;
        .navTitle {
            font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
            font-weight: 650;
            font-style: normal;
            font-size: 18px;
            color: #02A7F0;
            margin-bottom: 10px;
        }
    }
}