.operation_area {
    .ant-select ul .ant-select-search__field{
        display: none;
    }
}

.card_pra  {
    p{
        margin-bottom: 0px;
    }
    .ant-card-head .ant-card-head-title{
        font-size: 16px !important;
    }
    
}

// 设置已上传列表最大高度
.work_upload{
    .ant-upload-list{
        max-height: 60px;
        overflow-y: auto;
    }
}
// 隐藏查看流程图的footer
.no_footer{
    .ant-modal-content{
        .ant-modal-footer{
            display: none;
        }
        .ant-modal-body > div{
           height: 100%;
        }
    }
}
.circulation{
    .ant-card-body{
        padding: 0 12px;
    }
} 
.work_upload{
    padding: 0 6px;
    display: block;
    .ant-upload.ant-upload-disabled{
        width: 100%;
        // display: block;
        // padding: 0 6px;
        .ant-btn{
            width: 100%;
            cursor: not-allowed;
            color: currentcolor !important;
            border-color: #eee !important;
            color: currentcolor !important;
        }
    }
}