.operation_area {
    .ant-select ul .ant-select-search__field{
        display: none;
    }
}

.card_pra .ant-card-head .ant-card-head-title{
    font-size: 16px !important;
}

// 设置已上传列表最大高度
.work_upload{
    .ant-upload-list{
        max-height: 60px;
        overflow-y: auto;
    }
}
// 隐藏查看流程图的footer
.no_footer{
    .ant-modal-content{
        .ant-modal-footer{
            display: none;
        }
    }
}
.circulation{
    .ant-card-body{
        padding: 0 12px;
    }
} 
