.layoutOMM {
    padding: 16px 30px 16px 30px;

    .loPageTitle {
        width: 100%;
        position: relative;
        padding-left: 20px;
        font-size: 24px;
        color: #4ea8f4;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 10px;
            width: 5px;
            height: 21px;
            background-color: #4ea8f4;
        }
    }

    .loPageContent {
        padding: 20px;

        .loArea {
            margin-bottom: 20px;

            .loAreaTitle {}

            .loAreaContent {
                padding: 10px 0 10px 24px;
            }
        }
    }

    // 工作表单
    .worksheet {
        ul {
            border: 1px solid #e8e8e8;
            margin-top: -1px;
            display: flex;
        }
        li {
            flex: 1;
            list-style: none;
            float: left;
            border-right: 1px solid #e8e8e8;
        }
    }

    // 按钮
    .loRowBtns {
        padding: 20px;
        text-align: center;

        button {
            margin: 0 10px;
        }
    }

    // 对齐方式右
    .alignRight {
        text-align: right;
    }

    // 对齐方式左
    .alignLeft {
        text-align: left;
    }

    // 错误提示
    .ListError {
        color: red;
        margin-left: 20px;
    }
}