.layoutOMM {
    padding: 20px 30px;

    .loPageTitle {
        width: 100%;
        position: relative;
        padding-left: 20px;
        font-size: 24px;
        color: #4ea8f4;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 10px;
            width: 5px;
            height: 21px;
            background-color: #4ea8f4;
        }
    }

    .loPageContent {
        padding: 20px;

        .loArea {
            margin-bottom: 20px;

            .loAreaTitle {}

            .loAreaContent {
                padding: 5px 0 10px 24px;
            }
        }
    }

    // // 工作表单
    .worksheet {
        text-align: center;

        .row {
            width: 100%;
            display: flex;
            border: 1px solid #e8e8e8;
            margin-top: -1px;

            .column {
                flex: 1;
                display: flex;
                border-left: 1px solid #e8e8e8;
                margin-left: -1px;
            }

            .column2 {
                flex: 2;
                display: flex;
                border-left: 1px solid #e8e8e8;
                margin-left: -1px;
            }

            .column3 {
                flex: 3;
                display: flex;
                border-left: 1px solid #e8e8e8;
                margin-left: -1px;
            }

            .column4 {
                flex: 4;
                display: flex;
                border-left: 1px solid #e8e8e8;
                margin-left: -1px;
            }
        }

        .key {
            width: 150px;
            background-color: #fafafa;
            border-right: 1px solid #e8e8e8;
            height: 48px;
            line-height: 48px;
        }

        .val {
            flex: 2;
            height: 48px;
            line-height: 48px;

            .row,
            .column {
                border-top: none;
                border-bottom: none;
            }

            .row {
                border-left: none;
            }
        }
    }

    // 按钮
    .loRowBtns {
        padding: 10px;
        text-align: center;

        button {
            margin: 0 10px;
        }
    }

    // 对齐方式右
    .alignRight {
        text-align: right;
    }

    // 对齐方式左
    .alignLeft {
        text-align: left;
    }

    // 错误提示
    .ListError {
        color: red;
        margin-left: 20px;
    }
}

// 表格
.layoutForm {
    .formRow {
        width: 100%;
        display: flex;
        margin-bottom: 20px;

        .formCol {
            flex: 1;
            display: flex;
            padding-right: 30px;
            line-height: 30px;
        }
        .formCol2 {
            flex: 2;
            display: flex;
            padding-right: 30px;
            line-height: 30px;
        }
        .formKey {
            text-align: left;
            font-weight: bold;
        }

        .formVal {
            flex: auto;
        }

    }
}