// logo在sider中的样式
.avatar-wrapper{
	width: 220px;
	// background: #63acfa;
	// color: hsla(0, 0%, 100%, 0.8);
	white-space: nowrap;
	transition: all .2s;
	.logo{
		height: 60px;	
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.icon{
		display: none;
		font-size: 26px;
		margin-right: 20px;
	}
	.username{
		display: block;
		font-size: 30px;
		font-weight: 600;
	}
}
.avatar-wrapper.collaps{
	width: 60px;
	.logo{
		padding-left: 0px;
	}
	.icon{
		display: block;
		margin-right: 0px;
	}
	.username{
		display: none;
	}
}
.ant-menu-vertical > .ant-menu-item,.ant-menu-inline > .ant-menu-item ,.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
	height: 40px;
	line-height: 40px;
}