// @import '~antd/dist/antd.less';
@import '~antd/dist/antd.css';
@import '/assets/less/var.less';
html,body{
  height: 100%;
}
img{
  border: 0;
  display: block;
}
textarea{
  resize: none !important;
}

#root{
  height: 100%;
  //设置根元素高度百分百
  .wrapper{
    height: 100%;
  }
  //重写ant行样式
  .ant-row{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  //切换显示内容区根元素样式
  .ant-layout-content{
     flex: 1; 
     padding: 0 11px 11px!important;
  }
    
  .ant-tabs, .ant-tabs-tabpane{ height: 100%; }
  .ant-tabs{
    display: flex;
    flex-direction: column;
    .ant-tabs-content{
      flex: auto;
    }
  }
  //tablist根元素样式 
  .ant-tabs-bar{
    margin: 2px 0 3px;
    padding: 2px 0;
    // background-color: red;
    border-bottom: 0px solid #575555d9 !important;
 }
  .ant-tabs-nav-container{
    display: flex;
    align-items: center;
  }
  //tab标签样式
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    height: 32px;
    line-height: 30px;
    border-radius: 3px;
    font-size: 12px;
    background-color: #fff;
    border-color: #d8d7d7;
  }
  .ant-tabs-nav .ant-tabs-tab::before{
    border-top: 0px !important;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    // background-color: #c0e9fd;
    background-color: #e6f7ff;
    color: #1890ff;
    // font-weight: 600;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active .ant-tabs-close-x {
    color: #1890ff;
  }


  .ant-tabs-no-animation > .ant-tabs-content > .ant-tabs-tabpane-inactive{
    height: 0;
  }
  
  
//菜单导航滚动条action设置
  .ant-layout-sider-children{ 
    overflow-y: hidden; 
    height: 100%;
    background: #fafafa;
  }
  .ant-layout-sider-children:hover{
    overflow-y: auto;
  }
  //设置展开子节点列表颜色为透明（跟随底色）
  .ant-menu-submenu > .ant-menu{
    background-color: transparent;
  }


  // .ant-table-wrapper{ min-width: 1000px; }//设置表格最小宽度
  .ant-table-small > .ant-table-content > .ant-table-body {
    margin: 0;
  }
  .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th{
    background-color: #fafafa;
  }
  @import url('./components/loading');
  @import url('./components/sider');
  @import url('./components/header');
}
.ant-empty-normal{margin:0}
// .trigger {
//   font-size: 20px;
//   line-height: 28px;
//   margin-top: 5px;
//   margin-left: 5px;
//   cursor: pointer;
//   transition: color .3s;
// }

.trHide{
  display: none;
}

// .trigger:hover {
//   color: #fff;
// }

.cpwrapper{
  padding-top: 100px;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.printWrap{
  .title{
    th{
      font-weight: bold;
      text-align: center;
    }
  }
  th{
    padding-right: 5px;
  }
}



.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.flex-view {
  padding: 10px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
.flex-view .ant-form-item {
  margin-bottom: 0;
}

.flex-form {
  padding: 8px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.flex-form .ant-form-item {
  display: flex;
}

.flex-form .ant-form-item-control-wrapper {
  flex: 1;
}

.attr-upload {
  .ant-upload-list {
    margin-top: 30px;
  }
}
//TabContent 样式设置
.container-div{
  height: 100%;
  // padding: 0 15px 10px 5px;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
}

.ant-list-item-action{
  width: 40px;
  float: right;
}

//导航节点样式
.ant-menu{
    i{
      font-size: 16px !important;
    }
}
.ant-menu-inline-collapsed{
  width: 100%!important;
  .ant-menu-submenu > .ant-menu-submenu-title,.ant-menu-item{
    padding: 0 21px !important;
  }
  i{
    font-size: 17px !important;
  }
}
//导航节点样式
.ant-table-selection-column{
  width: 40px;
}
.ant-table-footer{
  padding: 8px 16px 4px 16px;
} 
.ant-modal-header{
  padding: 8px 24px;
}
.ant-modal-close-x{
  width: 39px;
  height: 39px;
  line-height: 39px;
}

.ant-list-item-action{
  width: 40px;
  float: right;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 600px;
  line-height: 600px;
  background: #364d79;
  overflow: hidden;
}
//设置样式为100%的类名
.main_height{
  height: 100%;
}
@import url('./pages/login');


//进度条样式改写

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(144, 144, 144, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
// 表单报错样式
.has-error .ant-form-explain, .has-error .ant-form-split {
  color: #f5222d;
  position: absolute;
  left: 120px;
  display: block;
}
.ant-form-explain{
  display: none;
}
.ant-form-item-with-help{
  margin-bottom: 24px;
}
// 表格自适应
.pageAuto .ant-card .ant-card-body{
  height:100%;display: flex; flex-direction: column;
}
