.content {
  height: 100%;
}
.content-row {
  margin: 0px !important;
  height: 100%;
  padding-top: 5px;
}
.left .ant-card ,.right .ant-card {
  margin-bottom: 13px;
}



/* 设置拖动元素的占位符类名*/
.sortable-ghost .ant-card-body {
display: none !important;
}
.sortable-ghost .ant-card-head .ant-card-head-wrapper .ant-card-extra {
visibility: hidden !important;
}
.sortable-ghost .ant-card-head .ant-card-head-wrapper {
display: flex !important;
align-items: center !important;
}
/* 此样式根据main定的背景颜色来修改 */
.sortable-ghost .ant-card-head{
background: #dddddd !important;
color: #c7c7be !important;
}

/* 被选中目标的样式 */
.content .sortable-chosen ,.content .ant-card-head {
cursor: move;
}
.sortable-chosen .ant-card-body {
display: none !important;
}



.content .ant-card-head:before {
  content: '';
  background: #49b3fd;
  /* float: right; */
  position: absolute;
  /* bottom: 40px; */
  display: block;
  height: 20px;
  width: 4px;
  top: 18px;
  left: 10px;
}


.blockContent {
  position: relative;
    height: 60px;
    line-height: 35px;
    padding: 16px 0 7px 0px;
}
.blockContent .blockItem{
  position: absolute;
  right: 30px;
  border: 1px solid #87888a;
  border-radius: 25px;
  /* background: #e0e4e7; */
  padding: 0 12px;
  cursor: pointer;
}
.blockContent .blockItem .Icon {
  color: #9aa1a7;
  font-size: 21px;
  vertical-align: text-top;
}
.blockContent .blockItem .addBlock {
  font-size: 15px;
  font-weight: 400;
  color: #87888a;
  margin-left: 7px;
}

/* 常用模块--页面的icon样式（有数据） */
.homeModules .Operation {
  position: absolute;
  right: 0;
  top: 0;
}
.homeModules .Operation i {
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #9aa1a7;
}
/* 常用模块--页面的icon样式（无数据） */
.homeModules .noData {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px;
}
.homeModules .noData i {
  display: inline-block;
    font-size: 60px;
    cursor: pointer;
    color: #9aa1a7;
}