.content {
    height: 100%;
}
.content-row {
    margin: 0px !important;
    height: 100%;
    padding-top: 5px;
}
.left .ant-card ,.right .ant-card {
    margin-bottom: 13px;
}



/* 设置拖动元素的占位符类名*/
.sortable-ghost .ant-card-body {
  display: none !important;
}
.sortable-ghost .ant-card-head .ant-card-head-wrapper .ant-card-extra {
  visibility: hidden !important;
}
.sortable-ghost .ant-card-head .ant-card-head-wrapper {
  display: flex !important;
  align-items: center !important;
}
/* 此样式根据main定的背景颜色来修改 */
.sortable-ghost .ant-card-head{
  background: #dddddd !important;
  color: #c7c7be !important;
}

/* 被选中目标的样式 */
.sortable-chosen ,.ant-card-head {
  cursor: move;
}
.sortable-chosen .ant-card-body {
  display: none !important;
}
